-- FIX EMAILS - for test of COC 

select  cst_eml_address_dn, cst_web_login, cst_web_force_password_change, cst_web_forgot_password_status, cst_web_login_disabled_flag, cst_web_start_date
 from co_customer
where
cst_key in ('B2BFEEBD-1480-4614-B7D7-E8CA992FF03D','114E4FB2-7C40-4866-B0C2-6607404D6C80','B5E6671A-7CA0-4125-B27E-8DDDDAE660E3',
'34067715-6B0B-4E82-9229-3F5DCDE60A7D','19D95152-A0D7-474C-8364-7EF2A284D47F','A06C524A-26D2-4C36-A23A-BB58D4129963',
'3D407591-416A-4D25-9357-C1DAAD760B69','1A291995-1906-4993-A9AA-0C5061EABC62','61261D93-5963-431E-82A2-BE348D7DB317',
'A9C51527-7B77-40E9-AE8D-C6AA05EBD598','2ED9A81C-E101-4759-AE3F-2BA799690DC9','A081528D-FE1E-4D94-8A93-439F5D000D69',
'25388152-861C-4A96-B192-C5FA54E9223D','BE77A988-F9AE-410D-BBEC-6D64084C83A2','184A49BF-B6DA-437E-A198-D798B882C479',
'5EB3333A-CB2A-4F68-8618-F2F87108D6A7','71E0800F-0832-4572-A785-A4F35C4A7B7B','2218F494-A335-481A-87D4-8015CBCAD2C1',
'236A929E-1832-442C-9ACB-5433AD8AED50','B929CEB9-BC5D-42E1-9268-ECE3A9F0627F')

/*
-- NONE OF THE MEMBER_ACCOUNTS had any ZZ's !!!

select  cst_eml_address_dn, cst_web_login, z11_email, cst_web_force_password_change, cst_web_forgot_password_status, cst_web_login_disabled_flag, cst_web_start_date
, client_scouts_member_account.* 
from co_customer
leFT outer JOIN client_scouts_member_account ON cst_key = z11_ind_cst_key
where
cst_key in ('B2BFEEBD-1480-4614-B7D7-E8CA992FF03D','114E4FB2-7C40-4866-B0C2-6607404D6C80','B5E6671A-7CA0-4125-B27E-8DDDDAE660E3',
'34067715-6B0B-4E82-9229-3F5DCDE60A7D','19D95152-A0D7-474C-8364-7EF2A284D47F','A06C524A-26D2-4C36-A23A-BB58D4129963',
'3D407591-416A-4D25-9357-C1DAAD760B69','1A291995-1906-4993-A9AA-0C5061EABC62','61261D93-5963-431E-82A2-BE348D7DB317',
'A9C51527-7B77-40E9-AE8D-C6AA05EBD598','2ED9A81C-E101-4759-AE3F-2BA799690DC9','A081528D-FE1E-4D94-8A93-439F5D000D69',
'25388152-861C-4A96-B192-C5FA54E9223D','BE77A988-F9AE-410D-BBEC-6D64084C83A2','184A49BF-B6DA-437E-A198-D798B882C479',
'5EB3333A-CB2A-4F68-8618-F2F87108D6A7','71E0800F-0832-4572-A785-A4F35C4A7B7B','2218F494-A335-481A-87D4-8015CBCAD2C1',
'236A929E-1832-442C-9ACB-5433AD8AED50','B929CEB9-BC5D-42E1-9268-ECE3A9F0627F')
*/

begin transaction 

UPDATE  co_customer
SET cst_eml_address_dn = stuff(left(cst_eml_address_dn, LEN(cst_eml_address_dn) -2),1,2,'')
where
cst_key in ('B2BFEEBD-1480-4614-B7D7-E8CA992FF03D','114E4FB2-7C40-4866-B0C2-6607404D6C80','B5E6671A-7CA0-4125-B27E-8DDDDAE660E3',
'34067715-6B0B-4E82-9229-3F5DCDE60A7D','19D95152-A0D7-474C-8364-7EF2A284D47F','A06C524A-26D2-4C36-A23A-BB58D4129963',
'3D407591-416A-4D25-9357-C1DAAD760B69','1A291995-1906-4993-A9AA-0C5061EABC62','61261D93-5963-431E-82A2-BE348D7DB317',
'A9C51527-7B77-40E9-AE8D-C6AA05EBD598','2ED9A81C-E101-4759-AE3F-2BA799690DC9','A081528D-FE1E-4D94-8A93-439F5D000D69',
'25388152-861C-4A96-B192-C5FA54E9223D','BE77A988-F9AE-410D-BBEC-6D64084C83A2','184A49BF-B6DA-437E-A198-D798B882C479',
'5EB3333A-CB2A-4F68-8618-F2F87108D6A7','71E0800F-0832-4572-A785-A4F35C4A7B7B','2218F494-A335-481A-87D4-8015CBCAD2C1',
'236A929E-1832-442C-9ACB-5433AD8AED50','B929CEB9-BC5D-42E1-9268-ECE3A9F0627F')
and cst_eml_address_dn like 'zz%zz'

-- commit 
-- rollback 
--select * 
select  cst_eml_address_dn, cst_web_login, cst_web_force_password_change, cst_web_forgot_password_status, cst_web_login_disabled_flag, cst_web_start_date
from co_customer
where
cst_key in ('B2BFEEBD-1480-4614-B7D7-E8CA992FF03D','114E4FB2-7C40-4866-B0C2-6607404D6C80','B5E6671A-7CA0-4125-B27E-8DDDDAE660E3',
'34067715-6B0B-4E82-9229-3F5DCDE60A7D','19D95152-A0D7-474C-8364-7EF2A284D47F','A06C524A-26D2-4C36-A23A-BB58D4129963',
'3D407591-416A-4D25-9357-C1DAAD760B69','1A291995-1906-4993-A9AA-0C5061EABC62','61261D93-5963-431E-82A2-BE348D7DB317',
'A9C51527-7B77-40E9-AE8D-C6AA05EBD598','2ED9A81C-E101-4759-AE3F-2BA799690DC9','A081528D-FE1E-4D94-8A93-439F5D000D69',
'25388152-861C-4A96-B192-C5FA54E9223D','BE77A988-F9AE-410D-BBEC-6D64084C83A2','184A49BF-B6DA-437E-A198-D798B882C479',
'5EB3333A-CB2A-4F68-8618-F2F87108D6A7','71E0800F-0832-4572-A785-A4F35C4A7B7B','2218F494-A335-481A-87D4-8015CBCAD2C1',
'236A929E-1832-442C-9ACB-5433AD8AED50','B929CEB9-BC5D-42E1-9268-ECE3A9F0627F')



---- 

-- random list of Active volunteers that will need COC updated 
/*
('B2BFEEBD-1480-4614-B7D7-E8CA992FF03D',
'114E4FB2-7C40-4866-B0C2-6607404D6C80',
'B5E6671A-7CA0-4125-B27E-8DDDDAE660E3',
'34067715-6B0B-4E82-9229-3F5DCDE60A7D',
'19D95152-A0D7-474C-8364-7EF2A284D47F',
'A06C524A-26D2-4C36-A23A-BB58D4129963',
'3D407591-416A-4D25-9357-C1DAAD760B69',
'1A291995-1906-4993-A9AA-0C5061EABC62',
'61261D93-5963-431E-82A2-BE348D7DB317',
'A9C51527-7B77-40E9-AE8D-C6AA05EBD598',
'2ED9A81C-E101-4759-AE3F-2BA799690DC9',
'A081528D-FE1E-4D94-8A93-439F5D000D69',
'25388152-861C-4A96-B192-C5FA54E9223D',
'BE77A988-F9AE-410D-BBEC-6D64084C83A2',
'184A49BF-B6DA-437E-A198-D798B882C479',
'5EB3333A-CB2A-4F68-8618-F2F87108D6A7',
'71E0800F-0832-4572-A785-A4F35C4A7B7B',
'2218F494-A335-481A-87D4-8015CBCAD2C1',
'236A929E-1832-442C-9ACB-5433AD8AED50',
'B929CEB9-BC5D-42E1-9268-ECE3A9F0627F')

-- BATCH 1 - fixed zz's as for following 

pwielowi@yahoo.com				NULL	0	0	0	2012-02-28 01:22:00
m-mclean@outlook.com			NULL	0	0	0	NULL
randy.haugen@gdterminal.com		NULL	0	0	0	NULL
tom.peretti@gmail.com			NULL	0	0	0	NULL
lg_douglas@hotmail.com			NULL	0	0	0	2012-02-27 09:22:00
adaa@rogers.com					NULL	0	0	0	2012-02-27 09:22:00
edwardlumsden@hotmail.com		NULL	0	0	0	NULL
drewrawlings76@gmail.com		NULL	0	0	0	2012-02-27 09:22:00
td.leask@telus.net				NULL	0	0	0	2012-02-28 01:22:00
brandyandersen8@gmail.com		NULL	0	0	0	NULL

gregbondy5@cogeco.ca			gregbondy5@cogeco.ca	0	0	0	2012-02-27 09:22:00
rst01@mymts.net					ri0222@mts.net			0	0	0	2012-02-27 09:22:00
manustormod@hotmail.com			karrys@northwestel.net	0	0	0	2012-02-27 09:22:00
devanshu77@gmail.com			devanshu_verma@hotmail.com	0	0	0	2012-02-27 09:22:00
phoenix_fire_love@hotmail.com	sally.richardson@shaw.ca	0	0	0	2012-02-27 09:22:00
h26rc@unb.ca					h26rc@unb.ca			0	0	0	2012-02-27 09:22:00
beatonc3@gmail.com				beatonc3@gmail.com		0	0	0	2012-02-27 09:22:00
lynie.bb@hotmail.com			lynie.bb@hotmail.com	0	0	0	2012-02-27 09:22:00
bryan.cowell@gmail.com			bryan.cowell@shaw.ca	0	0	0	2012-02-27 09:22:00
dougbrown812@gmail.com			samwise2@sympatico.ca	0	0	0	2012-02-27 09:22:00

*/